.user {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.buttonsAccept {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/CheckDate.png);
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours], 
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.oneMealFooter {
    width: 100%;
}
