<ion-view title="Items" ng-init="init()">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar" ng-repeat="x in myItems" ng-click="openItem(x.ItemId)">
                <span><img ng-src="data:image/jpeg;base64,{{x.PictureData}}" height="100" width="100" /></span>
                <span>{{x.Description}}</span>
                <span>{{x.Matches}}</span>
            </div>
        </div>
        <i style="font-size:40px;" ng-click="newItem();" class="icon icon ion-plus"></i>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Items" ui-sref="items">
            <!---->
            <i class="icon ion-coffee"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" ui-sref="swipe">
            <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
</ion-view>
