<ion-view title="Item" ng-init="init()">
    <ion-content>
        <div class="Spinner" >
            <img id="mySpinner" src="images/Swaip_logo.svg"ng-show="loading"/>
            <img id="spinner" class="SpinnerLoad" src="images/balls.svg" ng-show="loading"/>
        </div>
        <div ng-show="!loading" class="list card">
            <div class="item item-avatar" ng-repeat="x in myItems" ng-click="openItem(x.ItemId)">
                <div class="row">
                    <div class="col-xs-3  col-centered">
                        <span><img ng-src="data:image/jpeg;base64,{{x.PictureData}}" /></span>
                    </div>
                    <div class="col-xs-3  col-centered">
                        <span>{{x.Description}}</span>
                    </div>
                    <div class="col-xs-3  col-centered">
                        <span>{{x.MatchCount}}</span>
                    </div>
                </div>
            </div>

            <div style="float:none; margin-left: 40%; margin-right: 40%;">
                <img src="images/Buttones-25.svg" ng-show="!loading" ng-click="newItem();" style="width: 100%; " alt="lisamine" />
            </div>



        </div>


    </ion-content>
    <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Items" ui-sref="items">
            <!---->
            <i class="icon ion-coffee"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" ui-sref="swipe">
            <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
</ion-view>
