<ion-view ng-controller="LoginController" title="OneMeal">


    <ion-content style="background-color: #3B4C63;">


        <div class="container-login">
            <div class="thumbnail" style="background: none; border: none; padding: 0px;">
                <img src="images/piff.png" alt="..." style="border-top-left-radius: 35px; border-top-right-radius: 35px;">
            </div>
            <button ng-click="login()" class="button button-block button-balanced">Login</button>
            <div style="float:none; margin-left: 15%; margin-right: 15%;">
                <h2 style="text-align:center;">Let's start swiping and swapping!</h2>
            </div>
        </div>

    </ion-content>

</ion-view>
