<ion-view title="Product" ng-init="init()">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <div>

            <div class="container">              
                <img style="margin-left: 40%; margin-top: 25%; margin-bottom: 25%;" id="currentImage" ng-click="addImage()" src="http://wfarm3.dataknet.com/static/resources/icons/set112/69e0d01c.png" height="65" width="65"/>
            </div>
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Item's name" ng-model="my.Name">
                </label>
            </div>
        </div>
        <div class="form-group">
        <br />
            <div hidden="hidden">
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="first" value="1" >1 </label>
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="second" value="2">2 </label>
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="third" value="3">3</label>
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="fourth" value="4">4</label>
            </div>

            <label>Item's price class</label>
            <div class="row" >
                <div class="col-xs-1  col-centered">                
                </div>
                <div class="col-xs-3  col-centered">                    
                        <img ng-show="first" src="images/Buttones-01.svg" ng-click="toggleButton(1)" alt="...">
                        <img ng-show="!first" src="images/Buttones-08.svg" ng-click="toggleButton(1)" alt="...">                 
                </div>
                <div class="col-xs-3 col-centered">                   
                        <img ng-show="second" src="images/Buttones-02.svg" ng-click="toggleButton(2)" alt="...">
                        <img ng-show="!second" src="images/Buttones-07.svg" ng-click="toggleButton(2)" alt="...">                         
                </div>
                <div class="col-xs-3  col-centered">                    
                        <img ng-show="third" src="images/Buttones-03.svg" ng-click="toggleButton(3)" alt="...">
                        <img ng-show="!third" src="images/Buttones-06.svg" ng-click="toggleButton(3)" alt="...">                          
                </div>
                <div class="col-xs-3  col-centered">                    
                        <img ng-show="fourth" src="images/Buttones-04.svg" ng-click="toggleButton(4)" alt="...">
                        <img ng-show="!fourth" src="images/Buttones-05.svg" ng-click="toggleButton(4)" alt="...">                     
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4  col-centered">
                </div>                
                <div class="col-xs-6  col-centered">
                    <img src="images/Buttones-19.svg" ng-click="Save()">
                </div>
                <div class="col-xs-3  col-centered">
                </div>
            </div>     
          
      
            
        </div>
        
     
      <label id="imagedata" hidden="hidden">123</label>
    </ion-content>
</ion-view>
