<ion-view title="SwipSwap" ng-init="init()">
    <ion-content>
        <div class="Spinner">
            <img id="mySpinner" src="images/Swaip_logo.svg" ng-show="loading" />
            <img class="SpinnerLoad" id="spinner" src="images/balls.svg" ng-show="loading" />
        </div>
        <div ng-show="!loading" class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    &nbsp;
                </div>
                <select ng-model="my.ItemId">
                    <option ng-repeat="x in myItems" value="{{x.ItemId}}">{{x.Description}}</option>
                </select>
            </label>
        </div>
        <br />
            <div ng-show="!loading" class="list card">
                <div id="{{chosenItem.ItemId}}">
                    <img ng-src="data:image/jpeg;base64,{{chosenItem.PictureData}}" style="margin-left: 15%;" height="200" width="200" />
                    <br />
                    <div class="col-sm-4">
                        <img  style="margin-left: 6%;" class="deviceButtons" ng-click="DeclineItem(chosenItem.ItemId)" src="images/Buttones-16.svg"/>
                        <img class="deviceButtons" ng-click="SuperLikeItem(chosenItem.ItemId)" src="images/Buttones-17.svg"/>
                        <img class="deviceButtons" ng-click="LikeItem(chosenItem.ItemId)" src="images/Buttones-18.svg"/>
                    </div>
                </div>
            </div>
        <br />
        <!--<div class="col-sm-4">
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="first" value="1" >1 </label>
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="second" value="2">2 </label>
                <label class="radio-inline"> <input type="radio" name="season" ng-model="my.Type" id="third" value="3">3</label>
            </div>-->
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Items" ui-sref="items">
            <!---->
            <i class="icon ion-navicon"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" ui-sref="swipe">
            <i class="icon ion-arrow-swap"></i><span class="tab-title ng-binding" ng-bind-html="swipe"></span>
        </a>
    </div>
</ion-view>
